.profile-page{

    background-color: cornflowerblue;

}


.container-profile{
    width: 1200px;
    margin: 0 auto;
    height: 900px;
    padding-top: 50px;
}

.content-profile{

}
.profile-title{

    text-align: center;
    padding-bottom: 20px;
}

.profile__info{
    width: 600px;
    margin: 0 auto;
    border-radius: 12px;
    border: 2px solid black;
    padding: 30px 50px;
    margin-bottom: 20px;
}

.info__profile{
    font-family: "Academy Engraved LET";
    font-size: 30px;
}

